<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock3

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [1]:
## Nạp toàn bộ thư viện
# from vnstock3 import *

## Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock3 import Vnstock

    Khi tiếp tục sử dụng Vnstock3, bạn xác nhận rằng bạn đã đọc, hiểu và đồng ý với Chính sách quyền riêng tư và Điều khoản, điều kiện về giấy phép sử dụng Vnstock3.

    Chi tiết:

    - Giấy phép sử dụng phần mềm: https://vnstocks.com/docs/tai-lieu/giay-phep-su-dung
    - Chính sách quyền riêng tư: https://vnstocks.com/docs/tai-lieu/chinh-sach-quyen-rieng-tu

# II. Truy xuất dữ liệu - CK Việt Nam

* Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau. Luồng công việc minh hoạ dưới đây giả định bạn bắt đầu với 1 mã chứng khoán cần phân tích, mặc định là VN30F1M. Bạn có thể thay đổi sang mã bất kỳ bằng cách nhập tham số `symbol` tại hàm chức năng thay vì khởi tạo lại đối tượng. Ví dụ, mã `VN30F1M` được gán khi tạo đối tượng, nhưng khi gọi dữ liệu giá lịch sử, bạn có thể cập nhật mã mới là `ACB` thay vì khởi tạo lại đối tượng một cách bất tiện: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

In [1]:
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='ACB', source='TCBS')

## Listing: Liệt kê danh sách chứng khoán

Bạn có thể sử dụng tính năng liệt kê danh sách niêm yết các mã chứng khoán từ nguồn VCI do nguồn TCBS không có sẵn dữ liệu tương ứng. Chi tiết: [tại đây](https://vnstocks.com/docs/huong-dan/thong-tin-niem-yet)

## Trading: Giao dịch

### Bảng giá

In [3]:
stock.trading.price_board(['ACB, FPT, VNM'])

,Mã CP,Giá,KLGD ròng(CM),%KLGD ròng (CM),Phiên +/-,% thay đổi giá 3D,% thay đổi giá 1M,% thay đổi giá 3M,% thay đổi giá 1Y,Đỉnh 1M,...,P/B,ROE,TCRating,Khối lượng Dư bán,Khối lượng Dư mua,TCBS định giá,Khớp nhiều nhất,Đ.góp VNINDEX,%Giá - %VNI (1M),%Giá - %VNI (1Y)
0,ACB,25000.0,-970900.0,-43.7,0.0,-1.6,-1.0,2.6,38.1,26250.0,...,1.5,0.238528,2.9,267200.0,1498000.0,30387.0,25000.0,-0.44,-0.9,23.4
1,FPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                                                                                  0  \
listing symbol                                                                  VCB
        ceiling                                                               97900
        floor                                                                 85100
        ref_price                                                             91500
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     5589091262
        type                                                                  STOCK
        id                                                                  8424561
        organ_name                Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
        prior_close_price                                                     91500
        benefit
match   match_price                                                           91400
        match_vol                                                            151300
        accumulated_volume                                                   930700
        accumulated_value                                                     85340
        avg_match_price                                                91694.423552
        highest                                                               92200
        lowest                                                                91300
        match_type                                                          unknown
        foreign_sell_volume                                                  470400
        foreign_buy_volume                                                   490000
        current_room                                                      370320715
        total_room                                                       1676727378
        total_accumulated_value                                            85340.07
        total_accumulated_volume                                               9307
        reference_price                                                       91500
bid_ask bid_1_price                                                           91400
        bid_1_volume                                                           5600
        bid_2_price                                                           91300
        bid_2_volume                                                           9300
        bid_3_price                                                           91200
        bid_3_volume                                                          33700
        ask_1_price                                                           91500
        ask_1_volume                                                           6000
        ask_2_price                                                           91700
        ask_2_volume                                                           4500
        ask_3_price                                                           91800
        ask_3_volume                                                          13400

                                                                    1  \
listing symbol                                                    ACB
        ceiling                                                 27900
        floor                                                   24300
        ref_price                                               26100
        stock_type                                              STOCK
        exchange                                                  HSX
        last_trading_date
        listed_share                                       4466657912
        type                                                    STOCK
        id                                                    8424512
        organ_name                Ngân hàng Thương mại Cổ phần Á Châu
        prior_close_price                                       26100
        benefit
match   match_price                                             25950
        match_vol                                              735400
        accumulated_volume                                    9026900
        accumulated_value                                      235214
        avg_match_price                                  26057.007389
        highest                                                 26250
        lowest                                                  25950
        match_type                                            unknown
        foreign_sell_volume                                         0
        foreign_buy_volume                                          0
        current_room                                                0
        total_room                                         1339997373
        total_accumulated_value                            235214.605
        total_accumulated_volume                                90269
        reference_price                                         26100
bid_ask bid_1_price                                             25950
        bid_1_volume                                           319700
        bid_2_price                                             25900
        bid_2_volume                                           377800
        bid_3_price                                             25850
        bid_3_volume                                           108600
        ask_1_price                                             26000
        ask_1_volume                                             8200
        ask_2_price                                             26050
        ask_2_volume                                            15000
        ask_3_price                                             26100
        ask_3_volume                                            59200

                                                                                2  \
listing symbol                                                                TCB
        ceiling                                                             26150
        floor                                                               22750
        ref_price                                                           24450
        stock_type                                                          STOCK
        exchange                                                              HSX
        last_trading_date
        listed_share                                                   7045021622
        type                                                                STOCK
        id                                                                8424683
        organ_name                Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam
        prior_close_price                                                   24450
        benefit
match   match_price                                                         24350
        match_vol                                                          702700
        accumulated_volume                                               11945500
        accumulated_value                                                  292054
        avg_match_price                                               24448.87196
        highest                                                             24600
        lowest                                                              24350
        match_type                                                        unknown
        foreign_sell_volume                                                548700
        foreign_buy_volume                                                3399000
        current_room                                                     42987568
        total_room                                                     1584143561
        total_accumulated_value                                         292054.95
        total_accumulated_volume                                           119455
        reference_price                                                     24450
bid_ask bid_1_price                                                         24350
        bid_1_volume                                                       689500
        bid_2_price                                                         24300
        bid_2_volume                                                       489500
        bid_3_price                                                         24250
        bid_3_volume                                                       201300
        ask_1_price                                                         24400
        ask_1_volume                                                        37100
        ask_2_price                                                         24450
        ask_2_volume                                                       199400
        ask_3_price                                                         24500
        ask_3_volume                                                       298100

                                                                                  3
listing symbol                                                                  BID
        ceiling                                                               52800
        floor                                                                 45950
        ref_price                                                             49400
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     5700435900
        type                                                                  STOCK
        id                                                                  8424583
        organ_name                Ngân hàng Thương mại Cổ phần Đầu tư và Phát tr...
        prior_close_price                                                     49400
        benefit
match   match_price                                                           49400
        match_vol                                                            191700
        accumulated_volume                                                  1161900
        accumulated_value                                                     57573
        avg_match_price                                                49550.735864
        highest                                                               49750
        lowest                                                                49400
        match_type                                                          unknown
        foreign_sell_volume                                                  120440
        foreign_buy_volume                                                     1900
        current_room                                                      733831959
        total_room                                                       1710130770
        total_accumulated_value                                            57573.18
        total_accumulated_volume                                              11619
        reference_price                                                       49400
bid_ask bid_1_price                                                           49400
        bid_1_volume                                                          27900
        bid_2_price                                                           49350
        bid_2_volume                                                          72200
        bid_3_price                                                           49300
        bid_3_volume                                                          62800
        ask_1_price                                                           49450
        ask_1_volume                                                          11600
        ask_2_price                                                           49500
        ask_2_volume                                                           2100
        ask_3_price                                                           49550
        ask_3_volume                                                           1300

## Company: Thông tin công ty

In [6]:
from vnstock3 import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

Xem thông tin mô tả trên website [tại đây](https://vnstocks.com/docs/huong-dan/bao-cao-tai-chinh#dữ-liệu-báo-cáo-từ-tcbs)

### Tổng quan

In [37]:
# Bỏ .T để xoay dòng thành cột
company.overview().T

                                            0
exchange                                 HOSE
industry                            Ngân hàng
company_type                               NH
no_shareholders                         25183
foreign_percent                         0.233
outstanding_share                      5589.1
issue_share                            5589.1
established_year                         2008
no_employees                            23992
stock_rating                              2.9
delta_in_week                           0.017
delta_in_month                          0.018
delta_in_year                          -0.065
short_name                        Vietcombank
website            https://vietcombank.com.vn
industry_id                               289
industry_id_v2                           8355

### Hồ sơ

In [36]:
# Bỏ .T để xoay dòng thành cột
company.profile().T

                                                                     0
company_name         Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
company_profile       Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
history_dev            Ngày 30/10/1962: Ngân hàng Ngoại thương Việt...
company_promise                                                   None
business_risk          Rủi ro địa chính trị và nguy cơ chiến tranh ...
key_developments       Dịch vụ tài khoản Dịch vụ huy động vốn (tiền...
business_strategies   Ngân hàng số 1 tại Việt Nam, một trong 100 ng...

### Cổ đông

In [9]:
company.shareholders()

                  share_holder  share_own_percent
0  Ngân Hàng Nhà Nước Việt Nam             0.7480
1          Mizuho Bank Limited             0.1500
2                         Khác             0.0207

### Giao dịch nội bộ

In [35]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.insider_deals().head()

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2023-12-21,None,Mua,5000.0,80900.0,0.133
1,2020-12-30,None,Bán,-2523.0,64175.0,0.429
2,2020-12-23,None,Bán,-15000.0,63913.0,0.435
3,2020-04-27,None,Mua,10000.0,43434.0,1.111
4,2019-11-29,None,Bán,-10000.0,54974.0,0.668

### Công ty con, liên kết

In [34]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.subsidiaries().head()

                                    sub_company_name  sub_own_percent
0  Công ty TNHH Chứng khoán Ngân hàng Thương mại ...              1.0
1  Công Ty TNHH Một Thành Viên Kiều Hối Ngân Hàng...              1.0
2  Công ty TNHH MTV Cho Thuê Tài Chính Ngân Hàng ...              1.0
3      Công ty TNHH Tài Chính Việt Nam Tại Hồng Kông              1.0
4   Ngân Hàng TNHH MTV Ngoại Thương Việt Nam Tại Lào              1.0

### Ban lãnh đạo

In [33]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.officers().head()

           officer_name              officer_position  officer_own_percent
3     Nguyễn Danh Lương  Thành viên Hội đồng Quản trị                  0.0
9        Lê Thị Kim Nga  Thành viên Hội đồng Quản trị                  0.0
13           Lê Thị Hoa  Thành viên Hội đồng Quản trị                  0.0
19  Nguyễn Thị Kim Oanh  Thành viên Hội đồng Quản trị                  0.0
11     Đỗ Thị Mai Hương      Thành viên Ban kiểm soát                  0.0

### Sự kiện

In [32]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.events().head()

The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,63.0,55.0,2574126,92800.0,2000.0,0.022,0.058,VCB - BCTC kiểm toán quý 2/2024,KQQY,2024-08-21 00:00:00,2024-08-21 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,VCB - BCTC kiểm toán quý 2/2024
1,52.5,42.0,2569704,88000.0,0.0,0.000,-0.009,VCB - Tổ chức ĐHĐCĐ bất thường 2024,EGME,2024-07-05 00:00:00,2024-08-19 00:00:00,2024-07-19 00:00:00,2024-07-18 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
2,41.4,50.0,2570706,NaN,NaN,NaN,NaN,VCB - BCTC quý 1/2024,KQQY,2024-04-27 00:00:00,2024-04-27 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,VCB - BCTC quý 1/2024
3,56.4,54.0,2566332,94400.0,300.0,0.003,0.050,VCB - Tổ chức ĐHĐCĐ thường niên 2024,AGME,2024-03-12 00:00:00,2024-04-27 00:00:00,2024-03-27 00:00:00,2024-03-26 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
4,52.0,61.0,2564026,89100.0,0.0,0.000,-0.027,"VCB - Niêm yết bổ sung 856,574,691 cổ phiếu",AIS,2023-08-31 00:00:00,2023-08-30 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...

### Tin tức

In [31]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.news().head()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,58.2,69.0,NaN,NaN,NaN,NaN,11352312,Đề nghị bổ sung hơn 20.000 tỷ đồng cho Vietcom...,TCBS,2024-10-19 10:45:00
1,56.8,70.0,92400.0,200.0,0.002,0.015,11352092,VCB: Thông tin về việc nhận chuyển giao bắt b...,TCBS,2024-10-18 17:42:00
2,50.7,63.0,91400.0,0.0,0.000,0.028,11347901,VCB: Nghị quyết HĐQT về việc phê duyệt phương...,TCBS,2024-10-15 16:37:00
3,61.2,65.0,92600.0,-100.0,-0.001,0.018,11337404,VCB: HĐQT phê duyệt giới hạn tín dụng đối với...,TCBS,2024-10-03 17:56:00
4,58.4,71.0,90600.0,-900.0,-0.010,-0.002,11325137,VCB: HĐQT phê duyệt điều chỉnh giới hạn tín d...,TCBS,2024-09-20 17:26:00

### Cổ tức

In [15]:
company.dividends()

   exercise_date  cash_year  cash_dividend_percentage issue_method
0       25/07/23       2023                     0.181        share
1       22/12/21       2022                     0.276        share
2       22/12/21       2020                     0.120         cash
3       21/12/20       2019                     0.080         cash
4       30/12/19       2018                     0.080         cash
5       05/10/18       2017                     0.080         cash
6       28/09/17       2016                     0.080         cash
7       09/09/16       2015                     0.100         cash
8       26/06/15       2014                     0.100         cash
9       18/06/14       2013                     0.120         cash
10      26/02/13       2012                     0.120         cash
11      24/02/12       2011                     0.120         cash
12      18/07/11       2011                     0.120        share
13      10/03/10       2009                     0.120         cash
14      01/12/08       2008                     0.120         cash

## Finance: Báo cáo tài chính

In [16]:
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='VCI', source='TCBS')

### Bảng cân đối kế toán

In [28]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.balance_sheet(period='year').head()

,short_asset,cash,short_invest,short_receivable,inventory,long_asset,fixed_asset,asset,debt,short_debt,long_debt,equity,capital,other_debt,un_distributed_income,minor_share_holder_profit,payable
period,,,,,,,,,,,,,,,,,
2023,17174,788,15097,1094,0,81,23,17255,9884,8979,0,7371,4375,16,0,0,9884
2022,14158,3424,10562,120,0,85,23,14243,7747,6326,0,6495,4355,317,0,0,7747
2021,16569,1132,14998,285,0,67,13,16636,10094,6363,0,6542,3330,12,0,0,10094
2020,8312,643,6698,222,0,70,14,8382,3861,2696,0,4521,1656,28,0,0,3861
2019,7173,795,5817,747,0,70,10,7243,3191,1451,0,4052,1644,314,0,0,3191

In [29]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.balance_sheet(period='quarter').head()

,quarter,year,short_asset,cash,short_invest,short_receivable,inventory,long_asset,fixed_asset,asset,debt,short_debt,long_debt,equity,capital,other_debt,un_distributed_income,minor_share_holder_profit,payable
period,,,,,,,,,,,,,,,,,,,
2024-Q3,3,2024,20322,2544,17409,236,0,93,29,20415,11773,10833,0,8642,5745,12,0.0,0,11773
2024-Q2,2,2024,23010,3903,17775,931,0,95,32,23105,14247,12392,0,8859,4419,11,0.0,0,14247
2024-Q1,1,2024,19458,1041,17454,703,0,86,22,19545,11367,10240,0,8177,4375,19,0.0,0,11367
2023-Q4,4,2023,17174,788,15097,1094,0,81,23,17255,9884,8979,0,7371,4375,16,0.0,0,9884
2023-Q3,3,2023,16839,1775,14195,643,0,78,21,16917,9626,8723,0,7291,4375,13,0.0,0,9626

### Báo cáo kết quả kinh doanh

In [27]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.income_statement(period='year').head()

,revenue,year_revenue_growth,cost_of_good_sold,gross_profit,operation_expense,operation_profit,year_operation_profit_growth,interest_expense,pre_tax_profit,post_tax_profit,share_holder_income,year_share_holder_income_growth,ebitda
period,,,,,,,,,,,,,
2023,2472,-0.217,-1064,1409,-122,1286,-0.235,-563,570,492,492,-0.434,1296.0
2022,3156,-0.149,-1399,1758,-77,1681,-0.234,-477,1060,869,869,-0.420,1691.0
2021,3707,1.143,-1326,2381,-188,2193,0.932,-331,1851,1499,1499,0.949,2201.0
2020,1730,0.122,-522,1208,-72,1135,0.123,-174,951,769,769,0.109,1146.0
2019,1541,-0.154,-463,1078,-67,1011,-0.196,-165,855,693,693,-0.169,1023.0

In [26]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.income_statement(period='quarter').head()

,quarter,year,revenue,year_revenue_growth,quarter_revenue_growth,cost_of_good_sold,gross_profit,operation_expense,operation_profit,year_operation_profit_growth,quarter_operation_profit_growth,interest_expense,pre_tax_profit,post_tax_profit,share_holder_income,year_share_holder_income_growth,quarter_share_holder_income_growth,ebitda
period,,,,,,,,,,,,,,,,,,
2024-Q3,3,2024,974,0.461,0.064,-468,506,-48,458,0.235,-0.122,-199,265,215,215,0.203,-0.229,461.0
2024-Q2,2,2024,916,0.829,0.136,-359,557,-34,522,0.540,0.286,-189,344,279,279,1.388,0.412,525.0
2024-Q1,1,2024,806,0.615,0.001,-370,436,-30,406,0.709,0.200,-179,228,198,198,1.707,0.608,408.0
2023-Q4,4,2023,806,0.012,0.209,-419,386,-48,338,0.303,-0.089,-174,149,123,123,3.324,-0.313,341.0
2023-Q3,3,2023,667,0.278,0.331,-268,398,-27,371,0.280,0.094,-143,210,179,179,0.459,0.531,373.0

### Báo cáo lưu chuyển tiền tệ

In [25]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.cash_flow(period='year').head()

        invest_cost  from_invest  from_financial  from_sale  free_cash_flow
period
2023             -8           -8            1728      -4356           526.0
2022            -22          -22           -1428       3742           981.0
2021             -6           -6            4246      -3750          1401.0
2020            -14          -13             433       -572           975.0
2019             -9           -9               0       -341           623.0

In [23]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.income_statement(period='quarter').head()

,quarter,year,revenue,year_revenue_growth,quarter_revenue_growth,cost_of_good_sold,gross_profit,operation_expense,operation_profit,year_operation_profit_growth,quarter_operation_profit_growth,interest_expense,pre_tax_profit,post_tax_profit,share_holder_income,year_share_holder_income_growth,quarter_share_holder_income_growth,ebitda
period,,,,,,,,,,,,,,,,,,
2024-Q3,3,2024,974,0.461,0.064,-468,506,-48,458,0.235,-0.122,-199,265,215,215,0.203,-0.229,461.0
2024-Q2,2,2024,916,0.829,0.136,-359,557,-34,522,0.540,0.286,-189,344,279,279,1.388,0.412,525.0
2024-Q1,1,2024,806,0.615,0.001,-370,436,-30,406,0.709,0.200,-179,228,198,198,1.707,0.608,408.0
2023-Q4,4,2023,806,0.012,0.209,-419,386,-48,338,0.303,-0.089,-174,149,123,123,3.324,-0.313,341.0
2023-Q3,3,2023,667,0.278,0.331,-268,398,-27,371,0.280,0.094,-143,210,179,179,0.459,0.531,373.0

### Chỉ số tài chính

In [31]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.ratio(period='year', lang='vi', dropna=True).head()

  Meta          Chỉ tiêu định giá                                              \
    CP   Năm Kỳ               P/B Vốn hóa (Tỷ đồng) Số CP lưu hành (Triệu CP)
0  VCI  2023  5          2.178232    16056250000000                 437500000
1  VCI  2022  5          2.866248    18617620767750                 435499901
2  VCI  2021  5          1.183493     7742250000000                 333000000
3  VCI  2020  5          2.666309    12055680000000                 165600000
4  VCI  2019  5          2.418360     9798240000000                 164400000

                                                 ...  \
         P/E       P/S P/Cash Flow    EPS (VND)  ...
0  32.640980  6.494037   -3.686385  1124.353507  ...
1  21.424727  5.898666    4.975461  1995.357941  ...
2   5.165914  2.088510   -2.064593  4500.655782  ...
3  15.678875  6.970247  -21.093469  4643.190154  ...
4  14.135191  6.358594  -28.722550  4216.426869  ...

  Chỉ tiêu hiệu quả hoạt động                             \
               Vòng quay TSCĐ Số ngày thu tiền bình quân
0                  105.385605                        0.0
1                  172.225781                        0.0
2                  269.213152                        0.0
3                  142.402909                        0.0
4                  109.544483                        0.0

                                                                      \
  Số ngày tồn kho bình quân Số ngày thanh toán bình quân Chu kỳ tiền
0                       0.0                    30.140870         0.0
1                       0.0                    78.715859         0.0
2                       0.0                    94.585936         0.0
3                       0.0                    39.269900         0.0
4                       0.0                     4.820025         0.0

                         Chỉ tiêu cơ cấu nguồn vốn                           \
  Vòng quay hàng tồn kho          (Vay NH+DH)/VCSH   Nợ/VCSH TSCĐ / Vốn CSH
0                    0.0                  1.218152  1.340876       0.003178
1                    0.0                  0.973942  1.192721       0.003617
2                    0.0                  0.972610  1.543047       0.002011
3                    0.0                  0.596293  0.853905       0.003181
4                    0.0                  0.358125  0.787676       0.002445


  Vốn CSH/Vốn điều lệ
0            1.283137
1            1.130690
2            1.138766
3            0.787072
4            0.705278

[5 rows x 37 columns]

In [24]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.ratio(period='quarter').head()

,quarter,year,price_to_earning,price_to_book,value_before_ebitda,roe,roa,days_receivable,days_payable,earning_per_share,...,cash_on_capitalize,revenue_on_work_capital,capex_on_fixed_asset,revenue_on_asset,post_tax_on_pre_tax,ebit_on_revenue,pre_tax_on_ebit,payable_on_equity,ebitda_on_stock_change,book_value_per_share_change
period,,,,,,,,,,,,,,,,,,,,,
2024-Q3,3,2024,24.3,2.3,16.5,0.102,0.044,874.0,9,1419,...,0.125,0.4,-0.952,0.2,0.8,0.470,0.6,1.4,-0.085,-0.024
2024-Q2,2,2024,25.9,2.3,17.7,0.096,0.041,982.0,120,1355,...,0.188,0.4,-0.935,0.2,0.8,0.570,0.7,1.6,0.117,0.083
2024-Q1,1,2024,38.2,2.9,20.6,0.082,0.036,1035.0,54,1073,...,0.050,0.4,-0.615,0.2,0.9,0.504,0.6,1.4,0.130,0.109
2023-Q4,4,2023,38.1,2.5,21.3,0.071,0.031,1061.0,30,856,...,0.038,0.3,-0.337,0.2,0.8,0.420,0.4,1.3,0.064,0.011
2023-Q3,3,2023,45.5,2.5,20.9,0.057,0.024,1064.0,49,691,...,0.096,0.3,-0.176,0.2,0.9,0.557,0.6,1.3,-0.052,-0.011